<?xml version="1.0"?>
<psalm
    errorLevel="4"
    findUnusedVariablesAndParams="true"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <!--
         When using property annotations, psalm wants you to use the `__get(...)` and `__set(..)` methods
         directly within the class instead of the now annotated properties.
         https://github.com/vimeo/psalm/issues/721#issuecomment-387504151
         -->
      <UndefinedMagicPropertyFetch>
        <errorLevel type="suppress">
          <directory name="src/Models" />
        </errorLevel>
      </UndefinedMagicPropertyFetch>
    </issueHandlers>
</psalm>
